<a href="https://colab.research.google.com/github/ZYY1022/TKU-/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("test")

test

In [ ]:
print("test")

In [ ]:
sum = 0
test=int(input("請輸入一個正整數:"))
for n in range(1,test+1):
  sem = sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 0

In [ ]:
sum = 0
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  sem = sum+m
  print("1到"+str(m)+"的整數和為",sum)

請輸入一個正整數:20
1到20的整數和為 0

In [ ]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [ ]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

In [ ]:
for i in range(1,5):
  if(i==4):
   break
  print(i ,end =" ")

1 2 3

In [ ]:
count = 0
for string in 'hello!':
  count+=1
  if string == 'o':
    break
  print(string)
print("迴圈結束")
print("迴圈執行了 %d次" %count)

h
e
l
l
迴圈結束
迴圈執行了 5次

In [ ]:
count = 0
for string in '測試看看!':
  count+=1
  if string == '看':
    break
  print(string)
print("迴圈結束")
print("迴圈執行了 %d次" %count)

測
試
迴圈結束
迴圈執行了 3次