<a href="https://colab.research.google.com/github/ZYY1022/TKU-/blob/main/0601.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("0601")

In [6]:
for i in range(2,10):
  for j in range(1,10):
    product = i * j
    print("%d*%d=%2d" %(i,j,product),end="")
    print()

2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
a=int(input("請輸入a的值:"))
b=int(input("請輸入b的值:"))

maxno = a * b
for i in range(1, maxno+1):
  if (i % a == 0 and i % b ==0):
    break
print("%d和 %d的最小公倍數 = %d" %(a,b,i))

In [11]:
n = int(input("請輸入一個正整數: "))
for i in range(1, n+1):
  if i % 5 == 0:
    continue
  print(i, end=" ")

請輸入一個正整數: 22
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22

In [ ]:
total = n = 0
 while(n < 10):
   n += 1
   total += n
print(total)

In [ ]:
total = n = 0
 while(n<= 10):
   total += n
   n += 1
print(total)

In [ ]:
total = n = 0
 while n<= 10:
   total += n
   n += 1
print(total)

In [ ]:
total = i = 1
n =int(input("請輸入正整數n的值:"))
while i<=n:
  total *= i
  i+=1
print("%d!=%d" % (n, total))